<section>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-12">
                <a href="/admin/solicitacoes/listagem" class="btn btn-voltar">Voltar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mt-4 mb-4">Solicitações Aceitas</h1>
            </div>
        </div>
        <div class="row">
            <% solicitacoes.forEach(solicitacao => { %>
                <% if (solicitacao.status === 1) { %>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><%= solicitacao.nome %></h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">CPF: <%= solicitacao.cpf %></li>
                                    <li class="list-group-item">Telefone: <%= solicitacao.telefone %></li>
                                    <li class="list-group-item">Endereço: <%= solicitacao.endereco %></li>
                                    <li class="list-group-item">Dependentes: <%= solicitacao.numeroDependentes %></li>
                                    <li class="list-group-item">Renda Mensal: <%= solicitacao.rendaMensal %></li>
                                    <li class="list-group-item">Data: <%= solicitacao.createdAt %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
        
    </div>
</section>
    